footer.footer
  .container
    nav.pull-left
      ul
        li
          a(href='mailto:contato@anovavoz.com.br') ENTRE EM CONTATO
        li
          a(href='#') Política de Privacidade
        li
          a(href='https://github.com/jeanmdias/anovavoz') Repositório Github
    .copyright.pull-right A Nova Voz &copy; 2017
