meta(charset='UTF-8')
title A NOVA VOZ - Dados Abertos para os Cidadãos
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
meta(name='description', content='Personal Website')
meta(name='author', content='A Nova Voz')
meta(name='viewport', content='width=device-width, initial-scale=1')

link(rel='shortcut icon', type='image/x-icon', href='images/favicon.ico')
//link(rel='apple-touch-icon', href='images/favicon.ico')
link(rel='stylesheet prefetch', href='https://fonts.googleapis.com/icon?family=Material+Icons')
link(rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700')
link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css')

//link(rel='stylesheet', type='text/css', href='css/normalize.css')
//link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css')
//link(rel='stylesheet', type='text/css', href='stylesheets/style.css')

link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
link(rel='stylesheet', href='stylesheets/material-kit.css')
link(rel='stylesheet', href='stylesheets/material-dashboard.css')

script(src='javascript/keen.js', type='text/javascript')
